*{
	box-sizing: border-box;
}
.navbar{
    background-color: #A6A6A6;
}
h4,h1{
	text-align: center;
	margin-top: 40px;
}
section {
    background-color: #A6A6A6;
    margin-top: 40px; 
}
.row {
    width: 100%;
}
section>p {
    padding: 15px 15px 15px 15px;
}
 /* Desktop View */
@media (min-width: 992px) {
.collapse {
       display: none !important;
   }
}
/* tablet View*/
@media (min-width: 768px) and (max-width: 991px) {
    
}
 /* Mobile View */
@media (max-width: 766px){
.nav-item{
    text-align: center;
    border-bottom: 1px solid;
    background-color: #fff;
}
}
